apiVersion: karpenter.ibm.sh/v1alpha1
kind: IBMNodeClass
metadata:
  name: auto-placement
spec:
  region: us-south
  vpc: "{{ VPC_ID }}"
  zone: us-south-1
  subnet: "{{ SUBNET_ID.US_SOUTH_1 }}"
  instanceRequirements:
    architecture: amd64
    minimumCPU: 2
    minimumMemory: 4
    maximumHourlyPrice: 0.5
  placementStrategy:
    zoneBalance: Balanced
    subnetSelection:
      minimumAvailableIPs: 10
  image: ibm-ubuntu-24-04-6-minimal-amd64-2
